langchain
ipykernel
python-dotenv
langchain_groq
langchain_core
fastapi
uvicorn
langserve
langchain-google-genai
faiss-cpu 
streamlit
langchain_community 
beautifulsoup4
arxiv
wikipedia
duckduckgo-search
validators
youtube_transcript_api
unstructured
pytube
